{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="card border-0 shadow-sm mt-3">
                    <div class="card-header">
                        <strong><i class="fa-solid fa-cube"></i> Categories</strong>
                        <button class="btn btn-outline-primary border-0 shadow-sm float-end btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#productCategory"><i class="fa-solid fa-plus"></i> Category</button>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mt-2">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <a href="{% url 'sales:product_list' %}">All products</a>
                            </li>
                        {% for cat in categories %}
                        <!-- <div class="d-flex g-2">
                            <div class="badge bg-info squared-pill">{{cat.count}}</div>
                            <a href="">{{ cat.name|title }}</a>
                        </div> -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'sales:product_list' %}?q={{cat}}">{{cat|title}}</a>
                                <span class="badge bg-info squared-pill">{{cat.count}}</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-10">
                <div class="card border-0 shadow-sm mt-3">
                    <div class="card-header">
                        <strong><i class="fa-solid fa-list"></i> Product list</strong>
                        <div class="d-flex float-end gap-3">
                            <button class="btn btn-outline-primary btn-sm shadow-sm btn-sm border-0" type="button" data-bs-toggle="modal" data-bs-target="#addProduct"><i class="fa-solid fa-plus"></i> Product</button>
                            <a type="button" class="btn btn-outline-primary shadow-sm btn-sm border-0 float-end" data-bs-toggle="modal" data-bs-target="#dataImportFormat"><i class="fa-solid fa-file-import"></i> import</a>
                            <a type="button" class="btn btn-outline-primary shadow-sm btn-sm border-0 float-end" data-bs-toggle="modal" data-bs-target="#dataFormat"><i class="fa-solid fa-file-export"></i> export</a>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mt-2">
                    <div class="card-body">
                        <table class="table table-hover table-striped table-sm" id="myTable">
                            <thead>
                                <tr>
                                    <th>Bar code</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Disc. Price</th>
                                    <th>Disc %</th>
                                    <th>Warranty</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{ product.bar_code|upper }}</td>
                                    <td>{{ product.name|title }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price|floatformat:"2g" }}
                                        <small class="text-muted">/ {{ product.unit }}</small>
                                    </td>
                                    <td>{{ product.best_price|floatformat:"2g" }}
                                        <small class="text-muted">/ {{ product.unit }}</small>
                                    </td>
                                    <td>{{ product.discount|floatformat:"2g" }}</td>
                                    <td>{{ product.product_warranty }}</td>
                                    <td>
                                        <a href="{% url 'sales:product_update' product.id %}" class="btn btn-outline-info btn-sm">Update</a>
                                        {% if product.out_of_stock %}
                                        <a href="{% url 'sales:add_to_cart' product.id %}" class="btn btn-outline-secondary btn-sm disabled" role="button" aria-disabled="true"><i class="fa-solid fa-plus"></i> Cart</a>
                                        {% else %}
                                        <a href="{% url 'sales:add_to_cart' product.id %}" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-plus"></i> Cart</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productCategory">
    Launch demo modal
</button> -->
  
  <!-- Modal -->
<div class="modal fade" id="productCategory" tabindex="-1" aria-labelledby="productCategoryLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="productCategoryLabel">Add category</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ categoryform.as_p }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
        </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="addProductLabel">Add product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
        </div>
        </form>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="dataFormat" tabindex="-1" role="dialog" aria-labelledby="dataFormatTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Export products</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div> -->

<div class="modal fade" id="dataFormat" tabindex="-1" aria-labelledby="dataFormatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="dataFormatLabel">Product export</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'sales:export_product' %}" class="form" method="POST">
        <div class="modal-body">
          
            {% csrf_token %}
            {{ format_form.as_p }}
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="dataImportFormat" tabindex="-1" aria-labelledby="dataImportFormatLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="dataImportFormatLabel">Product import</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="#" class="form" method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          
            {% csrf_token %}
            {{ format_import_form.as_p }}
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Import</button>
        </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}