{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-sm-6">
        <strong>Product list</strong> | <a href="">Add stock</a>
        {% for stock in stocks %}
            <div>
                <a href="{% url 'sales:cart_add' stock.id %}">{{ stock.stock.name|upper }}</a> <br>
                <small>QTY {{ stock.quantity }}</small><br>
                <small>Cost {{ stock.stock.cost }}</small><br>
                <small>Price {{ stock.stock.price }}</small><br>
                <small>Disc {{ stock.stock.best_price }}</small><br>
            </div><hr>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Add" class="btn btn-outline-primary btn-sm">
        </form>
    </div>
</div>
<div>
</div>

{% endblock %}