{% extends 'base.html' %}

{% block title %} Checkout {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="fcard mt-3">
            <strong>Order details</strong>
        </div>
        <div class="fcard mt-2">
            <table class="table table-sm" style="vertical-align: middle;">
                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Sub total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td>
                            <b>{{ item.product }}</b>
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            {{ item.price}}
                        </td>
                        <td>
                            {{ item.total_price }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="fcard mt-2" style="text-align: right;">
            <small>Total</small>
            <h2 class="float-right">
                PHP {{ cart.get_total_price }} 
            </h2>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="fcard mt-3">
            <strong class="box-title">Confirm Order</strong>
        </div>
        <div class="fcard mt-2">
            <form action="{% url 'sales:billing_information' %}" class="form" method="POST">
                {% csrf_token %}
                {{ sale_form.as_p }}
                <input type="number" name="money_received" placeholder="Amount">
                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Confirm Order</button>
            </form>
        </div>
        <!-- <div class="fcard mt-2">
            <form method="POST" action="{% url 'sales:billing_information' %}" class="register-form"
            role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Full Name</label>
                    {{ form.full_name }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Email Address</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Phone Number</label>
                    {{ form.number }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Address</label>
                    {{ form.address }}
                </div>
                <div>
                    <h3>
                        Total PHP {{cart.get_total_price}}
                    </h3>
                    <input type="number" name="money_received" placeholder="Amount">
                </div>
                
                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Confirm Order</button>
            </form>
        </div> -->
    </div>
</div>

{% endblock %}