{% extends 'base.html' %}

{% block title %} Checkout {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Order details</strong>
            </div>
            
            <div class="card-body">
                <table class="table table-sm" style="vertical-align: middle;">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Sub total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td>
                                <b>{{ item.product }}</b>
                            </td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td>
                                {{ item.price|floatformat:"2g"}}
                            </td>
                            <td>
                                {{ item.total_price|floatformat:"2g" }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="card border-0 shadow-sm mt-2" style="text-align: right;">
            <div class="card-body">
                <small>Total</small>
                <h2 class="float-right">
                    PHP {{ cart.get_total_price|floatformat:"2g" }} 
                </h2>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong class="box-title">Confirm payment</strong>
                <a type="button" class="btn btn-outline-primary btn-sm float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-plus"></i> Customer
                </a>
            </div>
            <div class="card-body">
                <form action="{% url 'sales:billing_information' %}" class="form" method="POST">
                    {% csrf_token %}
                    {{ sale_form.as_p }}
                    <!-- <input type="number" name="money_tender" placeholder="Amount"> -->
                    <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Confirm Payment</button>
                </form>
            </div>
        </div>
        
        <!-- <div class="fcard mt-2">
            <form method="POST" action="{% url 'sales:billing_information' %}" class="register-form"
            role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Full Name</label>
                    {{ form.full_name }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Email Address</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Phone Number</label>
                    {{ form.number }}
                </div>
                <div class="form-group">
                    <label class="info-title" for="exampleInputEmail1">Your Address</label>
                    {{ form.address }}
                </div>
                <div>
                    <h3>
                        Total PHP {{cart.get_total_price}}
                    </h3>
                    <input type="number" name="money_received" placeholder="Amount">
                </div>
                
                <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Confirm Order</button>
            </form>
        </div> -->
    </div>
</div>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="modal-body">
          {{ customer_form.as_p }} sample
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
        </div>
        </form>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ item }}</h1>
    </div>
</div>
{% endblock %}