{% extends 'base.html' %}

{% block title %} Inventory || Order Record {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-header">
                <strong>Orders</strong>
            </div>
        </div>
        <div class="card border-0 shadow-sm mt-3">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <!-- <th>Customer name</th> -->
                            <!-- <th>Orders</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <!-- <td>{{ obj.customer.full_name|title }}</td> -->
                            <!-- <td>
                                {{ obj.products.name }}
                                {% for product in obj.product_set.all %}
                                    {{ product }}
                                {% endfor %}
                            </td> -->
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}